<Server>
    <VirtualHosts>
        <VirtualHost>
            <Applications>
                <Application>
                    <Name>live</Name>
                    <Protocols>
                        <RTMP>
                            <Enabled>true</Enabled>
                        </RTMP>
                        <WebRTC>
                            <Enabled>true</Enabled>
                            <ICECandidates>
                                <Candidate>
                                    <Type>host</Type>
                                    <Address>185.251.25.97</Address>
                                </Candidate>
                            </ICECandidates>
                        </WebRTC>
                        <HLS>
                            <Enabled>true</Enabled>
                            <HLSPath>/recordings/hls</HLSPath>
                        </HLS>
                    </Protocols>
                    <Streams>
                        <Stream>
                            <Record>
                                <Enabled>true</Enabled>
                                <Path>/recordings</Path>
                                <Prefix>%Y%m%d_%H%M%S</Prefix>
                            </Record>
                        </Stream>
                    </Streams>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>
