<Server>
    <version>0.12.1</version> <!-- Remplacer par la version installée -->
    <LogLevel>info</LogLevel> <!-- Niveau de log global -->
    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Applications>
                <Application>
                    <Name>live</Name>
                    <Protocols>
                        <RTMP>
                            <Enabled>true</Enabled>
                        </RTMP>
                        <WebRTC>
                            <Enabled>true</Enabled>
                            <ICEServers>
                                <ICEServer>
                                    <URL>stun:stun.l.google.com:19302</URL> <!-- Serveur STUN pour WebRTC -->
                                </ICEServer>
                            </ICEServers>
                            <ICECandidates>
                                <Candidate>
                                    <Type>host</Type>
                                    <Address>185.251.25.97</Address> <!-- Remplace par ton IP -->
                                </Candidate>
                            </ICECandidates>
                        </WebRTC>
                        <HLS>
                            <Enabled>true</Enabled>
                            <HLSPath>/recordings/hls</HLSPath>
                            <HLSFragment>3</HLSFragment>
                            <HLSPlaylistLength>10</HLSPlaylistLength>
                        </HLS>
                    </Protocols>
                    <Streams>
                        <Stream>
                            <Record>
                                <Enabled>true</Enabled>
                                <Path>/recordings</Path>
                                <Prefix>%Y%m%d_%H%M%S</Prefix>
                            </Record>
                        </Stream>
                    </Streams>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>
